*{    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
   font-family: 'Chivo Mono', monospace;


    margin: 40px;
    color: rgb(73, 69, 69);
    
}



h2, p {
   font-family: 'Chivo Mono', monospace;

    color:white;
    
}

.choice-area {
    background:rgb(19, 3, 3);
    padding: 15px;
    color: rgb(253, 253, 253);
}


.result-area {
    text-align: center;
    padding: 20px;;
    background: rgb(69, 27, 184);

}


#message {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 40px;
    background: rgb(104, 102, 102);
    
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

#Rock {
    margin: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Chivo Mono', monospace;;
}

#Paper {
    margin: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Chivo Mono', monospace;;


}

#Scissors {
    margin: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Chivo Mono', monospace;


}