 
 /*styles heading */

h1 {
    text-align: center;
    font-family: 'Chivo Mono', monospace;
   
    color: rgb(73, 69, 69);
    margin: 30px;
}


 /* styles font*/

h2, p {
    font-family: 'Chivo Mono', monospace;

    color: rgb(253, 253, 253);
    text-transform: capitalize;
    
}


 /*styles computer and user choice div */

.dark {
    background:rgb(19, 3, 3);
    text-align: center;
    padding: 10px 30px;
    
}

 /*styles result area */

.result-area {
    text-align: center;
    background: rgb(69, 27, 184);
    padding-top: 15px;
    padding-bottom: 15px;

}

 /* styles buttons*/

#Rock {
   
    font-family: 'Chivo Mono', monospace;
    margin-top: 35px;
    text-transform: uppercase;
    margin-left: 115px;
    padding: 15px 50px;

}

#Paper {
   
   font-family: 'Chivo Mono', monospace;
   margin-top: 35px;
   text-transform: uppercase;
   padding: 15px 50px;
   margin-left: 115px;
   
}

#Scissors {
    
    font-family: 'Chivo Mono', monospace;
    margin-top: 35px;
    margin-left: 115px;
    text-transform: uppercase;
    padding: 15px 50px;

}

